@use '../abstracts/variables' as *;

.request {
    margin-top: 100px;
    padding-bottom: 80px;
    background-color: rgba(247, 249, 251, 1);
    &__title{
        font-size: 34px;
        text-align: center;
        line-height: 125%;
        padding-top: 64px;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 18px;
        text-align: center;
    }
    &__form{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    &__submit{
        width: 40%;
        background-color: $color-primary;
    }
    &__link{
        color: $color-primary;
        text-decoration: underline;
        text-decoration-color: rgba(13, 122, 217, 0.3); 
        cursor: pointer;
    }
  }