@use '../abstracts/variables' as *;

button {
    padding: $size-lg $size-lg*3;
    border: none;
    border-radius: $size-sm;
    color: $color-white;
    font-weight: $weight-extrabold;
    font-size: 15px;
    cursor: pointer;
}