@use '../abstracts/variables' as *;

button {
    padding: 15px 45px;
    border: none;
    border-radius: $radius-sm;
    color: $color-white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}