@use '../abstracts/variables' as *;

.toggle-list {
    margin-top: $size-md*3;
    &__snapshot-title{
        font-weight:$weight-bold
    }
    &__list {
      list-style: disc;
      padding: 0;
      margin-top: $size-md;
    }
  
    &__item {
        margin-left: 1em;
        line-height: 145%;
    }
    &__item--hidden {
        display: none;
    }
    &__item--blur{
        background: linear-gradient(to bottom, $color-text-muted 0%, $color-blur-gradient 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  
    .toggle-list__checkbox:checked ~ .toggle-list__list  .toggle-list__item{
        display: list-item;
        background: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        color: black; 
      
    }
  
    &__btn {
      display: block;
      width: $size-lg*9;
      margin: $size-md*3 30% 0 70%;
      color: $color-primary;
      cursor: pointer;
    }
  
    .toggle-list__btn::after {
      content: "More details ▼";
    }
  
    .toggle-list__checkbox:checked ~ .toggle-list__btn::after {
      content: "Less details ▲";
    }
  }