$color-primary: rgba(13, 122, 217, 1);
$color-text-muted: rgba(120, 127, 133, 1);
$color-border: rgba(205, 210, 215, 1);
$color-footer-buttons: rgba(56, 56, 56, 1);
$color-placeholder: rgba(172, 179, 185, 1);
$color-shadow: rgba(30, 30, 30, 0.1);
$color-text-decoration: rgba(13, 122, 217, 0.3);
$color-request-background: rgba(247, 249, 251, 1);
$color-blur-gradient: rgba(120,127,133,0);
$color-white: #ffffff;
$color-main: #131313;


$weight-normal: 400;
$weight-bold: 500;
$weight-extrabold: 700;

$size-sm: 4px;
$size-md: 8px;
$size-lg: 16px;
